@import "tailwindcss";

@theme {
  /* Definimos tus COLORES */
  --color-antracita: #1F2937;
  --color-cobre: #C27803;
  --color-verdeTech: #10B981;
  --color-grisClaro: #E5E7EB;

  /* Definimos tus FUENTES */
  --font-titillium: var(--font-titillium);
  --font-opensans: var(--font-opensans);
}